@charset "UTF-8";
/* CSS Document */

#box1A {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
}
#box2A {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}

#box3A {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}
#box4A {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}
#box5A {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}

#box1B {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
}
#box2B {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}

#box3B {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}
#box4B {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}
#box5B {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}

#box1C {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
}
#box2C {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}

#box3C {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}
#box4C {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}
#box5C {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}

#box1D {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
}
#box2D {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}

#box3D {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}
#box4D {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}
#box5D {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}

#box1E {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
}
#box2E {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}

#box3E {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}
#box4E {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}
#box5E {
	width: 80px;
	height: 80px;
    border: solid;
    border-color: brown;
    background-color: yellow;
    float: left;
   
}